.sub-home {
    width: 100%;    
    padding: 0 32px;
}
.sub-home h1 {
    font-size: 36px;
    margin-top: 40px;
}
.form-subhome{
    display: flex;
    justify-content: center;
}
.form-subhome.col-md-3 {
    width: 70%;
    flex-wrap: wrap;
    align-items: center;
}
.lista-icones-subhome {
    padding-right: 80px;       
    margin-top: 60px;    
}

.lista-icones-subhome svg{
    cursor: pointer;
}

