.cadastro-usuario {
    width: 100%;
    padding: 0 32px;
}

.cadastro-usuario h1 {
    font-size: 48px;
    color: #13ADC2;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
}

.texto-1-cadastro {
    align-items: center;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.form-img-cadastro {
    display: flex;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
}

.form-cadastro {
    align-content: space-between;
}

.form-cadastro.col-md-4 {
    width: 50%;
}

.box-cadastro {
    width: 90vw;
    height: 50vw;
    max-width: 500px;
    max-height: 550px;
    background-color: rgba(194, 95, 19, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 56px;
}

.altura {
    margin-top: 40px;
    align-content: space-between;
    padding-right: 16px;    
}

.checkbox-cadastro {    
    display: flex;
    width: 80%;
    gap: 8px;                
}

.btn-cadastro {    
    background-color: #9113C2;
    color: #FFFFFF;
    padding: 8px 8px;
    border-radius: 10px;
    border: none;    
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;  
    width: 240px;
    height: 50px;
    justify-content: center;
    display: flex;  
    margin: 0 auto;   
}

img {
    width: 100%;
    justify-content: center;
    display: flex;
}