.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    padding-inline-start: 40px;
    font-size: 24px;
    max-width: 100%;
    margin: auto;
}

.form-control label {
    margin-bottom: 8px;
    font-weight: bold;
}

.form-control input {
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: #9113C2;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 48px;    
    width: auto;
    outline: none;
}

.form-control input::placeholder {
    color: #FFFFFF;
}