.container-membros {
	display: block;
    padding: 100px;
}

.texto-1-membros {
    padding: 1%;
	font-family: 'Montserrat', sans-serif;
}

.tab {
	background: #540075;
	border-radius: 8px;
	width: 100%;	
}