.logo img {
    max-width: 40%;    
    padding: 8px;    
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;   
    align-items: stretch;
    flex-flow: row nowrap;
}

.navbar {    
    color: #F5F5F5;    
    padding: 8px;  
    display: flex;  
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;    
}

.item a {
    text-decoration: none;
    color: #F5F5F5;
}

.item a:hover {
    color: #9113C2;
}
