.perfil {
    width: 100%;    
    padding: 0 32px;
}

.perfil h1 {    
    font-size: 36px;
    margin-top: 40px;
}

.form-img {
    display: flex;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-between;    
}

.form-perfil {    
    align-content: space-between;
}

.form-perfil.col-md-4 {
    width: 50%;
}

.altura {
    margin-top: 40px;
    align-content: space-between;
}

.botoes-perfil {
    display: flex;
    justify-content: space-evenly;
}

.btn-perfil {    
    background-color: #13ADC2;
    color: #FFFFFF;
    padding: 8px 8px;
    border-radius: 10px;
    border: none;    
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;  
    width: 240px;
    height: 50px;
    justify-content: center;
    display: flex;
    margin-bottom: 72px;
    margin: 0 auto;
}

.btn-perfil-excluir {    
    background-color: #C29027;
    color: #FFFFFF;
    padding: 8px 8px;
    border-radius: 10px;
    border: none;    
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;  
    width: 240px;
    height: 50px;
    justify-content: center;
    display: flex;
    margin-bottom: 72px;
    margin: 0 auto;
}

.lista-icone-perfil {
    display: flex;    
    justify-content: space-evenly;   
    gap: 160px; 
    margin-top: 32px;    
}

.lista-icones-perfil {
    display: flex;
    padding-bottom: 24px;       
    gap: 160px; 
    margin-top: 32px;    
}

.lista-icones-perfil svg{
    cursor: pointer;
}

.icone {
    color: #13adc2;
    width: 48px;
    height: 48px;
}

.icone-user {
    color: #13adc2;
    width: 160px;
    height: 160px;
}

img {
    width: 100%;
    justify-content: end;
}