.btn {    
    background-color: #13ADC2;
    color: #FFFFFF;
    padding: 8px 8px;
    border-radius: 10px;
    border: none;    
    font-size: 24px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;  
}