.cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 32px;    
}

.cadastro h1 {    
    font-size: 36px;    
}

.altura {
    margin-top: 40px;
}

.checkbox {
    display: flex;
    gap: 8px;    
    justify-content: center;
}

.lista-icones {
    display: flex;
    padding-bottom: 24px;
    justify-content: space-evenly;   
    gap: 160px; 
    margin-top: 32px;   
}

.lista-icones svg{
    cursor: pointer;
}

.icone {
    color: #13adc2;
    width: 48px;
    height: 48px;
}

.icone-user {
    color: #13adc2;
    width: 160px;
    height: 160px;
}