.container-vacinas {
	display: block;
    padding: 100px;
}

.texto-1-vacinas {
    padding: 1%;
	font-family: 'Montserrat', sans-serif;
}

.tab {
	background: #540075;
	border-radius: 8px;
	width: 100%;	
}

.lista-icones-vacinas {
    display: flex;
    padding-bottom: 24px;       
    gap: 160px; 
    margin-top: 32px;  
	justify-content: end;  
}

.lista-icones-vacinas svg{
    cursor: pointer;
}

.icone {
    color: #13adc2;
    width: 48px;
    height: 48px;
}