.direitosReservadosText {
    font-size: 16px; 
    font: open sans-serif;   
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0A0362;    
    padding: 16px;
    color: #F5F5F5;
}