.header {    
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.logo img {
    max-width: 20%;    
    padding: 8px;
}

.navbar {    
    color: #F5F5F5;
    text-align: end;
    padding: 8px;  
    display: flex;
    list-style: none;    
}

.item {
    margin-right: 1em;
}
