* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  background-color: #0A0362;
  height: 100%;
  color: #F5F5F5;
}


.font-family-1 { font-family: 'Open Sans', sans-serif;  }
.font-family-2 { font-family: 'Montserrat', sans-serif; }