* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  background-color: #1005AD;
  height: 100%;
  color: #F5F5F5;
}


.font-family-textos { font-family: 'Open Sans', sans-serif;  }
.font-family-titulos { font-family: 'Montserrat', sans-serif; }